<section class="m-5">
    <div class="card">
        <div class="row">
            <div class="col-7">
                <h2 class="ps-3">{{navigation.Logo}}</h2>
            </div>
            <div class="col-5">
                <div class="nav col-8">
                    {{#with navigation.links.[0]}}
                    <div class="nav-item">
                        <a href="https://github.com/" class="nav-link active">{{text}}</a>
                    </div>
                    {{/with}}
                    {{#with navigation.links.[1]}}
                    <div class="nav-item">
                        <a href="https://www.google.com/" class="nav-link">{{text}}</a>
                    </div>
                    {{/with}}
                    {{#with navigation.links.[2]}}
                    <div class="nav-item">
                        <a href="https://www.youtube.com/" class="nav-link disabled">{{text}}</a>
                    </div>
                    {{/with}}
                </div>
            </div>
        </div>
    </div>
</section>